<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'lending/css/style.css' %}">
    <title>contacts</title>
</head>
<body>
    <header class="header">
        <div class="main_header">
            <div class="logo">
                <span>Logo</span>
            </div>
            <div class="links">
                <a class="button" href=" {% url 'about' %} ">about</a>
                <a class="button" href="{% url 'index' %}">home</a>
                <a class="button" href="{% url 'contact' %}">contacts</a>
            </div>
        </div>
    </header>
    <div class="container">
        <h2>contacts</h2>
    </div>

</body>
</html>